@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Noto Serif', serif;
}

h2,
p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #090d11;
}

.custom-padding-regular {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

}

.card {
    backdrop-filter: saturate(150%) blur(10px);
    background-color: rgba(47, 58, 70, .5);
    border-radius: 5px;
}

.btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    padding: 8px 30px;
}

.btn:hover {
    background-color: #eaeaea;
}

input[type="text"] {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    padding: 8px 16px;
}